
<h1>Tiny App</h1>
<p><%=user_id%>
<%if(user_id){%> is logged in. Click this button to log out:
  <form method="POST" action=<%=`/logout`%>>
    <button type="submit">Logout</button>
  </form>
  </p>
  <% } else{ %>
  <a href="http://localhost:8080/register">Register</a>
  <a href="http://localhost:8080/login">Already Registered? Login</a>
  <% } %>

