<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    header {
      align-items: center;
      color: #DCDCDC;
      font-family: Verdana, Geneva, sans-serif;
    }
    body {
      background-color: #36486b;

    }
    h2 {
      color:white;
      font-family: 'PT Sans', sans-serif;
    }

  </style>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h2>ShortURL: <%= shortURL %></h2>
  <br>
  <form method="POST" action=<%= `/urls/${shortURL}`%>>
    <input type=text name='urlEdit' value=<%=`${url}`%>>
    <button type="submit">Update</button>
  </form>
  <form method="POST" action=<%= `/urls/${shortURL}/delete`%>>
    <button type="submit">Delete this record</button>
  </form>
</body>
</html>