<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <h1>Tiny App</h1>
  </header>
  <p>Login:
  <form method="POST" action=<%=`/login`%>>
    <label for="email">Email: </label>
    <input type=email name="email"/>
    <label for="password">Password: </label>
    <input type=password name="password"/>
    <button type="submit">Login</button>
  </form>
  </p>
</body>
</html>
